@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-login{
    background: radial-gradient(circle,rgba(0, 0, 0, 0.6) 50%, rgba(255, 202, 43, 0.4) 100%), url('/public/images/fond-login-2.jpeg');
    background-position: right;
    background-repeat: repeat-y;
    background-size: cover;
    animation: moveBackground 60s linear infinite
}

.bg-flou{
    overflow: hidden;
    isolation: isolate;
    background: rgba(255, 202, 43, 0.062);
    backdrop-filter: blur(3px);
    box-shadow: inset 2px 2px 1px 0 rgba(255, 255, 255, 0.726),
    inset -2px -2px 2px 1px rgba(255, 255, 255, 0.521), 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);;
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.3s cubic-bezier(0.2, 0.9, 0.3, 1.5);
}

.bg-flou-filter{
    backdrop-filter: url(#filter);
}

.bg-card-item{
  background: linear-gradient(180deg,rgba(0, 0, 0, 0) 30%, rgb(0, 0, 0) 90%);
}

@keyframes moveBackground {
    from {
      background-position: 0% 0%;
    }
    to {
      background-position: 0% -500%;
    }
  }